/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#titleText {
	-fx-font-weight: bold;
	-fx-alignment: top-center; 
}

#accessRelease {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#language {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#budget {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#revenue {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#overview {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#produced {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#cast {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#title {
	-fx-font-family: sans-serif;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

#trailer {
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 18px;	
}